@model App.ViewModels.RaceListViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>@Model.HeaderTitle</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Race Name
            </th>
            <th>
                Date
            </th>
            <th>
                Nombre de participants
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.RaceList) {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.Name  
            </td>
            <td>
                @item.EventDate.ToShortDateString()
            </td>
            <td>
                @item.NumberParticipants / @item.MaxParticipants
            </td>
            <td>
                <a asp-controller="Races" asp-action="Edit" asp-route-id="@item.Id">Edit race</a> |
                <a asp-controller="Races" asp-action="Details" asp-route-id="@item.Id">Details race</a> |
                <a asp-controller="Races" asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to delete this?')">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
